
.navbar-brand {
    color: #FFFFFF !important;
}

.nav-link {
    color: #FFFFFF !important;
}

.navbar-dark .navbar-nav .active>.nav-link {
    background-color: #18bc9c;
}

pre.downlit.sourceCode{
    border-color: #7daad7 !important;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #999;
}

.navbar-dark input[type="search"] {
    background-color:white;
    color: #2c3e50;
}

a {
    color: #18bc9c;
}

code a:any-link {
    color: #18bc9c !important;
    text-decoration-color: #919aa1;
}

h1, h2, h3, h4 {
  padding-top: 20px;
}

body {
    font-weight: 400 !important;
}


thead {
    font-size: 20px;
}


div.comparison thead tr th:first-child,
div.comparison tbody tr td:first-child {
  width: 12em;
  min-width: 12em;
  max-width: 12em;
  word-break: break-all;
}

div.comparison table {
  border-collapse: collapse;
}

div.comparison tr {
  border-color: #b4bcc2;
  border: solid;
  border-width: 1px 0;
}

div.comparison .header {
  border-color: #b4bcc2;
  border: solid;
  border-width: 2px 0;
}

.ref-index h3 {
  color: #18bc9c;
}


/*-- scss:defaults --*/

.navbar {
    background-color: #2C3E50 !important;
}


/* sidebar formatting */

.sidebar a.nav-link {
    font-size: 14.4px;
    font-weight: 400;
}

.sidebar code:not(.sourceCode) {
    font-size: 11px !important;
}

.sidebar-item-container .text-start {
  font-weight: 600;
  font-size: 14.4px !important;
}

.sidebar-item-text {
  /*color: rgba(60, 60, 60, 0.7);*/
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.sidebar-item {
  margin-top: 0px;
}

.sidebar-item-section {
  padding-top: 16px;
}

.sidebar-section {
  padding-left: 0px !important;
}

.sidebar-item-section .sidebar-item-section {
  padding-top: 0px;
  padding-left: 10px;
}


/* navbar formatting */

@media (max-device-width: 600px) {
    .navbar {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .navbar-title {
        font-size: 0.8rem !important;
    }
}


.cell {
  margin-bottom: 1rem;
}

.cell > .sourceCode {
  margin-bottom: 0;
}

.cell-output > pre {
  margin-bottom: 0;
}

.cell-output > pre, .cell-output > .sourceCode > pre, .cell-output-stdout > pre {
  margin-left: 0.8rem;
  margin-top: 0;
  background: none;
  border-left: 2px solid #18bc9c;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cell-output > .sourceCode {
  border: none;
  background: none;
  margin-top: 0;
}

.cell-output > div {
  display: inline-block;
}

div.description {
  padding-left: 2px;
  padding-top: 5px;
  font-style: italic;
  font-size: 135%;
  opacity: 70%;
}

/* show_doc signature */
blockquote > pre {
  font-size: 14px;
}

.table {
  font-size: 16px;
  /* disable striped tables */
  --bs-table-striped-bg: var(--bs-table-bg);
}

.quarto-figure-center > figure > figcaption {
  text-align: center;
}

.figure-caption {
  font-size: 75%;
  font-style: italic;
}

/* new */
// @font-face {
//   font-family: 'Inter';
//   src: url('./assets/Inter-VariableFont.ttf') format('ttf')
// }

:root {
  --primary: #2c3350;
  --secondary: #18bc9c;
}

html, body {
  color: #374151;
  font-family: 'Inter', sans-serif;
}

header {
  transform: translateY(0) !important;
}

#title-block-header {
  margin-block-end: 2rem;
}

#quarto-sidebar {
  top: 62px !important;
  z-index: 100;
}

.content a {
  color: #18bc9c;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid var(--secondary);
}

.content a:hover {
  border-bottom: 2px solid var(--secondary);
}

a > code {
  background-color: transparent !important;
}

a > code:hover {
  color: var(--primary) !important;
}


.aa-SubmitIcon {
  // fill: rgba(17, 24,39, 0.6) !important;
  height: 20px !important;
  margin-top: -2px;
}

.navbar-brand-logo {
  -webkit-filter: drop-shadow(3px 3px 3px #222);
}

.navbar #quarto-search {
  margin-left: -2px;
}

.navbar-container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 3rem !important;
  text-transform: none;
}

.dropdown-header {
    margin-top: 1rem !important;
}

h1.title {
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

div.description {
  font-style: normal;
  font-size: .875rem;
  line-height: 1.25rem;
}

p {
  margin-bottom: 1.25rem;
}

/* menu */
.sidebar-menu-container > ul > li:first-child > .sidebar-item-container > a > span {
  font-weight: 600 !important;
  font-size: 0.875rem;
  color: var(--secondary);
}

div.sidebar-item-container {
  color: #323232;
}

.sidebar-divider.hi {
  color: rgb(0,0,0, 0.2);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#quarto-margin-sidebar {
  top: 63px !important;
}

.menu-text {
  font-weight: 400;
}


ul.sidebar-section {
  padding-left: 0;
}

.sidebar-link {
  line-height: 2.125rem;
  padding: 0 0.5rem;
}

.sidebar-menu-container {
  padding-right: 0 !important;
}

ul.sidebar-section .sidebar-link {
  padding-left: 1rem;
  width: 100%;
}

.sidebar-link.active {
  background: rgba(255, 112, 0, 0.1);
  border-radius: 0.25rem;
}

.sidebar-link.active span {
  font-weight: 600 !important;
  color: var(--secondary);
}

.callout {
  border-left: auto !important;
  border-radius: 1rem;
  padding: 0.75rem;
}

.callout-tip {
  background: rgba(63,182,24, 0.05);
  border: 1px solid rgba(63,182,24, 0.25) !important;
}

.callout-note {
  background: rgba(59 , 130, 246, 0.05);
  border: 1px solid rgba(59, 130, 246, 0.25) !important;
}

.callout-style-default > .callout-header {
  background: none !important;
}



.cell-output {
  margin-top: 1rem;
}

.cell-output pre {
  border-radius: 0.375rem;
}

.cell-output > div {
  overflow-x: scroll;
}

.code-copy-button {
  margin: 0.5rem;
}



.cell-output > div {
  border: 1px solid rgba(100, 116, 139, 0.2) !important;
  border-radius: 1rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

table, .table {

  font-size: 0.875rem;
  margin-bottom: 0;
  max-width: 100%;
  overflow-x: scroll;
  display: block;
}

thead {
  background: rgba(12, 18, 26, 0.02);
  border-bottom-color: rgba(100, 116, 139, 0.2) !important;
}

thead tr:first-child {
  background-color: rgb(249, 250, 251, 0.7) !important;
}

thead tr:first-child th:first-child {
  border-radius: 1rem 0 0 0;
}

thead tr:first-child th:last-child {
  border-radius: 0 1rem 0 0;
}

th, td {
  padding: 0.5rem 1rem !important;
  white-space: nowrap !important;
  text-transform: none !important;
}

td a, td a code {
  white-space: nowrap !important;
}

tbody {
  border-color: transparent !important;
  border-top: none !important;
}

tbody tr:last-child td:first-child {
  border-radius: 0 0 0 1rem;
}

tr.even, tr.odd {
  line-height: 2rem;
}

tr:hover {
  background-color: rgba(17, 24, 39, 0.05);
}

td:first-child, td:last-child {
  padding: 0.25rem 1rem !important;
}

.dropdown-menu.show {
  background: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding-top: 0.5rem !important;
  padding-bottom: 0.25rem !important;
}

.dropdown-menu li {
  padding: 0.25rem 1rem !important;
}

.dropdown-menu li:hover {
  background-color: #e9ecef;
}

.js-plotly-plot .plotly {
  border: none !important;
}

.svg-container {
  border: none !important;
}

.svg-container > svg {
  border-radius: 2rem;
}

// .plotly-graph-div {
//   border-radius: 5rem;
// }

@media (max-width: 991.98px) {
  #quarto-sidebar-glass.show {
    z-index: 10001;
  }

  #quarto-sidebar {
    top: 0 !important;
    z-index: 10002 !important;
  }

  #quarto-sidebar .sidebar-menu-container {
    min-width: unset;
    width: calc(100% - 32px);
  }

  #quarto-sidebar.show {
    max-width: calc(100vw - 32px);
    width: 320px !important;
  }
}
